<h2>Sign up</h2>

<%= form_for(@user, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>（<%= @minimum_password_length %>文字以上）</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :苗字（全角） %><br />
    <%= f.text_field :family_name %>
  </div>

  <div class="field">
    <%= f.label :名前（全角） %><br />
    <%= f.text_field :given_name %>
  </div>

  <div class="field">
    <%= f.label :苗字カナ（全角） %><br />
    <%= f.text_field :family_name_kana %>
  </div>

  <div class="field">
    <%= f.label :名前カナ（全角） %><br />
    <%= f.text_field :given_name_kana %>
  </div>

  <div class="field">
    <%= f.label :生年月日 %><br />
    <%= f.date_select :birthday, use_month_numbers: true, start_year: (Time.now.year), end_year: 1900, default: Date.new(2020, 1, 1) %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :自己紹介 %><br />
    <%= f.text_area :intro %>
  </div>

  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
