<h2>送付先情報登録</h2>

<%= form_for @shipment do |f| %>
  <%= render "devise/shared/error_messages", resource: @shipment %>

  <div class="field">
    <%= f.label :苗字 %><br />
    <%= f.text_field :family_name, value: "#{session["devise.regist_data"][:user]["family_name"]}"%>
  </div>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :given_name, value: "#{session["devise.regist_data"][:user]["given_name"]}" %>
  </div>

  <div class="field">
    <%= f.label :苗字カナ %><br />
    <%= f.text_field :family_name_kana, value: "#{session["devise.regist_data"][:user]["family_name_kana"]}" %>
  </div>

  <div class="field">
    <%= f.label :名前カナ %><br />
    <%= f.text_field :given_name_kana, value: "#{session["devise.regist_data"][:user]["given_name_kana"]}" %>
  </div>

  <div class="field">
    <%= f.label :郵便番号 %><br />
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :都道府県 %><br />
    <%= f.text_field :prefecture %>
  </div>

  <div class="field">
    <%= f.label :市区町村 %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :番地 %><br />
    <%= f.text_field :house_number %>
  </div>

  <div class="field">
    <%= f.label :建物名 %><br />
    <%= f.text_field :building_name %>
  </div>

  <div class="field">
    <%= f.label :部屋番号 %><br />
    <%= f.text_field :room_number %>
  </div>

  <div class="field">
    <%= f.label :電話 %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>