.main
  .search-extend
    = search_form_for @q, url: search_index_path, name: "productSearch", id: "productSearch" do |f|
      .search-extend--contents
        .search-extend--content
          .search-extend--content__label
            = f.label :keyword, "キーワード"
          = f.search_field :name_cont, placeholder: "例）値下げ"
        
        .search-extend--content#category
          .search-extend--content__label
            = f.label :category, "カテゴリを選択する"
          - if !@parent.nil?
            = f.collection_select :category_id, @category_parents, :id, :name, {include_blank: '選択してください', selected: @parent.id}, {class: 'category_parent_search', id: 'category_parent_search'}
            - if !@child.nil?
              = f.collection_select :category_id, @parent.children, :id, :name, {include_blank: '選択してください', selected: @child.id}, {class: 'category_child_search', id: 'category_child_search'}
              - if !@grandchild.nil?
                = f.collection_select :category_id, @child.children, :id, :name, {include_blank: '選択してください', selected: @grandchild.id}, {class: 'category_grandchild_search', id: 'category_grandchild_search'}
              - else
                = f.collection_select :category_id, @child.children, :id, :name, {include_blank: '選択してください'}, {class: 'category_grandchild_search', id: 'category_grandchild_search'}
            - else
              = f.collection_select :category_id, @parent.children, :id, :name, {include_blank: '選択してください'}, {class: 'category_child_search', id: 'category_child_search'}
          - else
            = f.collection_select :category_id, @category_parents, :id, :name, {include_blank: '選択してください'}, {class: 'category_parent_search', id: 'category_parent_search'}
        
        .search-extend--content
          .search-extend--content__label
            = f.label :price, "価格"
          = f.number_field :price_gteq, placeholder: "¥ Min"
          = "~"
          = f.number_field :price_lteq, placeholder: "¥ Max"
        
        .search-extend--content
          .search-extend--content__label
            = f.label :status, "商品の状態"
          = f.collection_select :status_id_eq, Status.all, :id, :status, {include_blank: '選択してください', selected: params["q"]["status_id_eq"]}
        
        .search-extend--content
          .search-extend--content__label
            = f.label :delivery_fee, "配送料の負担"
          = f.collection_select :delivery_fee_id_eq, DeliveryFee.all, :id, :delivery_fee, {include_blank: '選択してください', selected: params["q"]["delivery_fee_id_eq"]}
        
        .search-extend--content
          .search-extend--content__label
            = f.label :sold_out, "販売状況"
          = f.collection_select :sold_out_eq, SoldOut.all, :id, :status, {include_blank: '指定なし', selected: params["q"]["sold_out_eq"]}

      .search-extend--buttons
        .search-extend--buttons__clear
          クリア
        .search-extend--buttons__submit
          = f.submit "検索", id: "submit"
  .searchResults
    .searchResults--title
      .searchResults--title--keyword
        = params[:q][:name_cont]
      .searchResults--title--text
        - if params[:q][:name_cont] == ""
          検索結果
        - else
          の検索結果
    .searchResults--products
      - @products.each do |product|
        .searchResults--products--productBox
          = render partial: "products/productBox", locals: { product: product }