.main
  .search-extend
    = search_form_for @q, url: search_index_path do |f|
      = f.label :keyword, "キーワード"
      = f.search_field :name_cont
      = f.label :keyword, "カテゴリを選択する"
      
      = f.submit "検索"
  .searchResults
    .searchResults--title
      .searchResults--title--keyword
        = params[:keyword]
      .searchResults--title--text
        の検索結果
    .searchResults--products
      - @products.each do |product|
        .searchResults--products--productBox
          = render partial: "products/productBox", locals: { product: product }