.login-page__main
  .no-account
    %p アカウントをお持ちでない方はこちら
    = render "devise/shared/links"
  .sns-login
    = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "sns-login__btn sns-login__btn--google" do
      = icon('fab', 'google', class:"sns-login__btn--icon")
      Googleでログイン
    = link_to user_facebook_omniauth_authorize_path, method: :post, class: "sns-login__btn sns-login__btn--facebook" do
      = icon('fab', 'facebook-square', class:"sns-login__btn--icon")
      Facebookでログイン
  .login-page__main__form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス",class:"input-box"
      .field
        %br/
        = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード",class:"input-box"
      .actions
        = f.submit "ログイン",class:"login-btn"
    = link_to "パスワードをお忘れの方", new_password_path(resource_name)