.side-bar
  .side-bar__high
    .side-bar__high__blocks
      %p.side-bar__high__blocks__text
        = link_to "#" do
          いいね機能
    .side-bar__high__blocks
      %p.side-bar__high__blocks__text
        = link_to new_product_path do
          出品する
    .side-bar__high__blocks
      %p.side-bar__high__blocks__text
        = link_to user_list_products_path(current_user) do
          出品した - 商品
    .side-bar__high__blocks
      %p.side-bar__high__blocks__text
        = link_to "#" do
          出品した - 取引中商品
    .side-bar__high__blocks
      %p.side-bar__high__blocks__text
        = link_to "#" do
          出品した - 売却済み商品
    .side-bar__high__blocks
      %p.side-bar__high__blocks__text
        = link_to "#" do
          購入した商品 - 取引中
    .side-bar__high__blocks
      %p.side-bar__high__blocks__text
        = link_to "#" do
          購入履歴
    .side-bar__high__blocks
      %p.side-bar__high__blocks__text
        = link_to "#" do
          お問いわせ

  .side-bar__low
    %p.side-bar__low__title
      設定
    .side-bar__low__blocks
      %p.side-bar__low__blocks__text
        = link_to "#" do
          プロフィール
    .side-bar__low__blocks
      %p.side-bar__low__blocks__text
        = link_to edit_shipment_path(current_user) do
          お届け先住所変更
    .side-bar__low__blocks
      %p.side-bar__low__blocks__text
        - if current_user.card.present?
          = link_to user_card_path(current_user) do
            支払い方法
        - else
          = link_to new_user_card_path(current_user) do
            支払い方法
    .side-bar__low__blocks
      %p.side-bar__low__blocks__text
        = link_to "#" do
          メール/パスワード変更
    .side-bar__low__blocks
      %p.side-bar__low__blocks__text
        = link_to "#" do
          本人情報
    .side-bar__low__blocks
      %p.side-bar__low__blocks__text
        = link_to destroy_user_session_path, method: :delete do
          ログアウト