.my-page-main
  .my-page-main__block
    .side-bar
      .side-bar__high
        .side-bar__high__blocks
          %p.side-bar__high__blocks__text
            = link_to "#" do
              いいね機能
        .side-bar__high__blocks
          %p.side-bar__high__blocks__text
            = link_to "#" do
              出品する
        .side-bar__high__blocks
          %p.side-bar__high__blocks__text
            = link_to "#" do
              出品した - 商品
        .side-bar__high__blocks
          %p.side-bar__high__blocks__text
            = link_to "#" do
              出品した - 取引中商品
        .side-bar__high__blocks
          %p.side-bar__high__blocks__text
            = link_to "#" do
              出品した - 売却済み商品
        .side-bar__high__blocks
          %p.side-bar__high__blocks__text
            = link_to "#" do
              購入した商品 - 取引中
        .side-bar__high__blocks
          %p.side-bar__high__blocks__text
            = link_to "#" do
              購入履歴
        .side-bar__high__blocks
          %p.side-bar__high__blocks__text
            = link_to "#" do
              お問いわせ

      .side-bar__low
        %p.side-bar__low__title
          設定
        .side-bar__low__blocks
          %p.side-bar__low__blocks__text
            = link_to "#" do
              プロフィール
        .side-bar__low__blocks
          %p.side-bar__low__blocks__text
            = link_to "#" do
              お届け先住所変更
        .side-bar__low__blocks
          %p.side-bar__low__blocks__text
            = link_to "#" do
              支払い方法
        .side-bar__low__blocks
          %p.side-bar__low__blocks__text
            = link_to "#" do
              メール/パスワード変更
        .side-bar__low__blocks
          %p.side-bar__low__blocks__text
            = link_to "#" do
              本人情報
        .side-bar__low__blocks
          %p.side-bar__low__blocks__text
            = link_to "#" do
              ログアウト
    .main-light
      .main-light__high
        .main-light__back
          = image_tag 'pict/mypage-background.jpg', class: 'main-light__background'
          .main-light__user-icon
            = image_tag 'icon/member_photo_noimage_thumb.png', size: '50x50', alt: "アイコン画像", class: 'icon'
          %p 評価0 出品数0
        .main-light-notice
          %ul.mypage-tab
            .menu.active
              お知らせ
            .menu
              やることリスト
          .mypage-content.show
            テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト
          .mypage-content
            テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト2
      .main-light-low
        .mypage-menu
          購入した商品
        .main-low-tab
          .main-low-menu.active2
            取引中
          .main-low-menu
            過去の取引
        .main-low-content.show2
          テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト
        .main-low-content
          テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト2