.footer
  %ul.footer__contents
    %li.footer__content
      %h2.footer__content__text FURIMAについて
      %ul
        %li.footer__content__text__li
          = link_to "#", class: 'footer__content__text__li__decolation' do
            会社概要（運営会社）
        %li.footer__content__text__li
          = link_to "#", class: 'footer__content__text__li__decolation' do
            プライバシーポリシー
        %li.footer__content__text__li
          = link_to "#", class: 'footer__content__text__li__decolation' do
            FURIMA利用規約
        %li.footer__content__text__li
          = link_to "#", class: 'footer__content__text__li__decolation' do
            ポイントに関する特約
    %li.footer__content
      %h2.footer__content__text FURIMAを見る
      %ul
        %li.footer__content__text__li
          = link_to "#", class: 'footer__content__text__li__decolation' do
            カテゴリー一覧
        %li.footer__content__text__li
          = link_to "#", class: 'footer__content__text__li__decolation' do
            ブランド一覧
    %li.footer__content
      %h2.footer__content__text ヘルプ＆ガイド
      %ul
        %li.footer__content__text__li
          = link_to "#", class: 'footer__content__text__li__decolation' do
            FURIMAガイド
        %li.footer__content__text__li
          = link_to "#", class: 'footer__content__text__li__decolation' do
            FURIMAロゴ利用ガイドライン
        %li.footer__content__text__li
          = link_to "#", class: 'footer__content__text__li__decolation' do
            お知らせ
  .footer__logo
    = link_to "#" do
      = image_tag "http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg"
    %p
      ©️ FURIMA
  = link_to new_product_path do
    .footer__exhibition
      %span.footer__exhibition__text
        出品する
      = image_tag "http://furima.tokyo/assets/icon_camera-968c5ebaa05319bf1e2ad7508f852dd712504a4d26a1930d8bd87ec03ebcc37a.svg"
