.header
  .top-items
    .top-items__icons
      = link_to "/" do
        = image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"
    .top-items__serch
      .top-items__serch--serch-box
        %input{type: "text", placeholder: "キーワードから探す"}
      .top-items__serch--serch-icon
        = image_tag "http://furima.tokyo/assets/icon-search-60a83ada85216fe00789cd16065281694d9a08948275fef83683fadcf131d84d.svg"
  .top-navi
    %ul.top-navi__left
      %li.top-navi__left--first<
        = link_to "#" do
          カテゴリー
      %li.top-navi__left--second<
        = link_to "#" do
          ブランド
    %ul.top-navi__right
      %li.top-navi__right--first<
        = link_to new_user_registration_path do
          新規会員登録
      %li.top-navi__right--second<
        = link_to new_user_session_path do
          ログイン

.main
  .main__top
    .content
      %h2.content__subtitle 人生を変えるフリマアプリ
      %p.content__text 
        FURIMAはだれでもかんたんに出品・購入できる 
        %br 
        フリマアプリです
      .content__btn
        = link_to "#", class: "content__btn--apple" do
          = image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
        = link_to "#", class: "content__btn--google" do
          = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"
  .main__reason
    %h2.main__reason__subtitle
      FURIMAが選ばれる３つの理由
    .main__reason__list
      .main__reason__list--first
        %span.number 1
        = image_tag "http://furima.tokyo/assets/pict-reason-01-77b860b45f32923029756050dafc0f6df01a36675414b0f26f127c64a53baaea.jpg"
        %h3 
          %span 
            3分
          ですぐに出品
        %p
          スマホで入力するだけで簡単に出品できる！
      .main__reason__list--second
        %span.number 2
        = image_tag "http://furima.tokyo/assets/pict-reason-02-3471b96ea7b52654510992e57dc05af07926de0836200059b7fa4ead05ee4d56.jpg"
        %h3
          %span
            シンプル
          で使いやすい
        %p
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      .main__reason__list--third
        %span.number 3
        = image_tag "http://furima.tokyo/assets/pict-reason-03-1e3c743f3ba3db8c43987d2e257916a615aa8fc59c02bbc116f041a5580ec28f.jpg"
        %h3 
          手数料
          %span 
            業界最安
        %p
          最大３％お得に出品＆購入！
  .main__members
    .member-content
      %h2.member-content__subtitle 会員数日本一位
      %p.member-content__text 
        FURIMAは、フリマアプリで最も人気。
        %br 
        出品・購入回数も業界最多です！
        %br 
        ほしかったあの商品に出会えるかもしれません。
      .member-content__btn
        = link_to "#", class: "content__btn--apple" do
          = image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
        = link_to "#", class: "content__btn--google" do
          = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"
  .main__features
    %h2.main__features__subtitle
      FURIMAの特徴
    .main__features__list
      .main__features__list--first
        = image_tag "http://furima.tokyo/assets/icon-01-7f6abf70ea7deaed9ab5d8b6d5cb796250e3e292b9ecdc559ebe6492c31fdab8.svg"
        %h3 
          簡単に売り買いできる
        %p
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .main__features__list--second
        = image_tag "http://furima.tokyo/assets/icon-03-9c0d78266a316fec7b738dcf5c68dd987afb9655b13fd2cd5d30bcf09e827694.svg"
        %h3
          売上金は即日振込みに対応
        %p
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      .main__features__list--third
        = image_tag "http://furima.tokyo/assets/icon-04-c4052f85cd6e1f62ea8cac8c55277d7fa4bda971d924f8a2afe72eea6558fa85.svg"
        %h3 
          様々な支払いに対応
        %p
          お支払いは、クレジットカードだけではなく、ポイントや売上金など多彩な方法があります。
  .main__pickup
    %h2.main__pickup--head
      ピックアップカテゴリー
    %h3.main__pickup--subhead
      新規投稿商品
    .main__pickup--product-lists
      .main__pickup--product-lists--first
        = link_to "#" do
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
          .main__pickup--product-lists--first--body
            %h3 product3
            .details-first
              %ul
                %li 30000円
                %li.star-first ★ 0
            .tax
              %p 
              %br (税込)
      .main__pickup--product-lists--second
        = link_to "#" do
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"
          .main__pickup--product-lists--first--body
            %h3 product2
            .details-first
              %ul
                %li 20000円
                %li.star-first ★ 0
            .tax
              %p 
              %br (税込)
      .main__pickup--product-lists--third
        = link_to "#" do
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"
          .main__pickup--product-lists--first--body
            %h3 product1
            .details-first
              %ul
                %li 10000円
                %li.star-first ★ 0
            .tax
              %p 
              %br (税込)
    %h2.main__pickup--brand
      ピックアップブランド
    %h3.main__pickup--brandsub
      アーカイバ
    .main__pickup--brand-lists
      .main__pickup--brand-lists--first
        = link_to "#" do
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
          .main__pickup--product-lists--first--body
            %h3 product3
            .details-first
              %ul
                %li 30000円
                %li.star-first ★ 0
            .tax
              %p 
              %br (税込)
      .main__pickup--brand-lists--second
        = link_to "#" do
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"
          .main__pickup--product-lists--first--body
            %h3 product2
            .details-first
              %ul
                %li 20000円
                %li.star-first ★ 0
            .tax
              %p 
              %br (税込)
      .main__pickup--brand-lists--third
        = link_to "#" do
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"
          .main__pickup--product-lists--first--body
            %h3 product1
            .details-first
              %ul
                %li 10000円
                %li.star-first ★ 0
            .tax
              %p 
              %br (税込)
  .main__download
    .inner
      %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text 今すぐ無料ダウンロード！
      .inner__btn
        = link_to "#", class: "content__btn--apple" do
          = image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
        = link_to "#", class: "content__btn--google" do
          = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"

.footer
  %ul.footer__contents
    %li.footer__content
      %h2 FURIMAについて
      %ul
        %li
          = link_to "#" do
            会社概要（運営会社）
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            FURIMA利用規約
        %li
          = link_to "#" do
            ポイントに関する特約
    %li.footer__content
      %h2 FURIMAを見る
      %ul
        %li
          = link_to "#" do
            カテゴリー一覧
        %li
          = link_to "#" do
            ブランド一覧
    %li.footer__content
      %h2 ヘルプ＆ガイド
      %ul
        %li
          = link_to "#" do
            FURIMAガイド
        %li
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "#" do
            お知らせ
  .footer__logo
    = link_to "#" do
      = image_tag "http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg"
    %p
      ©️ FURIMA
  = link_to "#" do
    .footer__exhibition
      %span.footer__exhibition__text
        出品する
      = image_tag "http://furima.tokyo/assets/icon_camera-968c5ebaa05319bf1e2ad7508f852dd712504a4d26a1930d8bd87ec03ebcc37a.svg"
