.main
  .showProduct
    .showProduct--info
      .showProduct--info__name
        = @product.name
      .showProduct--info__photo
        %ul
          %li
            = image_tag @product.pictures[0].content.url, class: "photoLarge"
            %li.showProduct--info__photo__smallPhotos
              - @product.pictures.each do |picture|
                = image_tag picture.content.url, class: "photoSmall"
      .showProduct--info__price
        .showProduct--info__price__number
          ¥#{@product.price}
        .showProduct--info__price__tax
          (税込) 
          - if @product.delivery_fee[:delivery_fee] == "送料込み（出品者負担）"
            送料込み
      .showProduct--info__description
        = @product.description
      .showProduct--info__table
        %table
          %tr
            %th
              出品者
            %td
              = @seller.nickname
          %tr
            %th
              カテゴリー
            %td
              = link_to "#" do
                = @category.parent.parent.name
              %br/
              = link_to "#" do
                = @category.parent.name
              %br/
              = link_to "#" do
                = @category.name
          %tr
            %th
              ブランド
            %td
              = @product.brand.name
          %tr
            %th
              商品のサイズ
            %td
          %tr
            %th
              商品の状態
            %td
              = @product.status[:status]
          %tr
            %th
              配送料の負担
            %td
              = @product.delivery_fee[:delivery_fee]
          %tr
            %th
              配送の方法
            %td
              = @product.shipping_method[:shipping_method]
          %tr
            %th
              発送元の地域
            %td
              = link_to "#" do
                = @product.prefecture
          %tr
            %th
              発送日の目安
            %td
              = DateOfShip.find(@product.date_of_ship_id)[:date_of_ship]
      .showProduct--info__optional
        .showProduct--info__optional__like
          = icon('fas', 'star')
          &nbsp;お気に入り 0
        .showProduct--info__optional__report
          = icon('fas', 'flag')
          &nbsp;不適切な商品の通報
    .showProduct--comment
    .showProduct--links
    .showProduct--related