.main
  .showProduct
    .showProduct--info
      - if @product.user_id == current_user.id
        .showProduct--info__seller
          = link_to edit_product_path class: 'productEdit' do
            .showProduct--info__seller__edit
              編集
          = link_to product_path(params[:id]), method: :delete, class: 'productDelete' do
            .showProduct--info__seller__delete
              削除
      .showProduct--info__name
        = @product.name
      .showProduct--info__photo
        %ul
          %li
            = image_tag @product.pictures[0].content.url, class: "photoLarge"
            %li.showProduct--info__photo__smallPhotos
              - @product.pictures.each do |picture|
                = image_tag picture.content.url, class: "photoSmall"
      .showProduct--info__price
        .showProduct--info__price__number
          ¥#{@product.price}
        .showProduct--info__price__tax
          (税込) 
          - if @product.delivery_fee[:delivery_fee] == "送料込み（出品者負担）"
            送料込み
      .showProduct--info__description
        = @product.description
      .showProduct--info__table
        %table
          %tr
            %th
              出品者
            %td
              = @seller.nickname
          %tr
            %th
              カテゴリー
            %td
              = link_to "#" do
                = @category.parent.parent.name
              %br/
              = link_to "#" do
                = @category.parent.name
              %br/
              = link_to "#" do
                = @category.name
          %tr
            %th
              ブランド
            %td
              = @product.brand.name
          %tr
            %th
              商品のサイズ
            %td
          %tr
            %th
              商品の状態
            %td
              = @product.status[:status]
          %tr
            %th
              配送料の負担
            %td
              = @product.delivery_fee[:delivery_fee]
          %tr
            %th
              配送の方法
            %td
              = @product.shipping_method[:shipping_method]
          %tr
            %th
              発送元の地域
            %td
              = link_to "#" do
                = @product.prefecture
          %tr
            %th
              発送日の目安
            %td
              = DateOfShip.find(@product.date_of_ship_id)[:date_of_ship]
      .showProduct--info__optional
        .showProduct--info__optional__like
          = icon('fas', 'star')
          &nbsp;お気に入り 0
        .showProduct--info__optional__report
          = icon('fas', 'flag')
          &nbsp;不適切な商品の通報
      - if @product.sold_out.present?
        .showProduct--info__buy
          売り切れ
      - else
        = link_to product_buy_path(current_user, product_id: @product.id), class: 'productBuy' do
          .showProduct--info__buy
            購入
    .showProduct--comment
      = form_for @newComment, url: product_comments_path(product_id: params[:id]) do |f|
        = f.text_area :content, class: 'comment-content'
        .showProduct--comment__notice
          相手のことを考え丁寧なコメントを心がけましょう。
          %br/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button
          = f.label :comment_submit, class: 'comment_submit', for: 'comment_submit' do
            = icon('fas', 'comment')
            &nbsp;コメントする
          = f.submit :comment_submit, class: 'hidden', id: 'comment_submit'
      .showProduct--comment__comments
        - @comments.each do |comment|
          .showProduct--comment__comments__box
            .showProduct--comment__comments__box__userName
              = comment.user.nickname
            .showProduct--comment__comments__box__content
              = comment.content
            .showProduct--comment__comments__box__date
              = comment.created_at.strftime("%Y年%m月%d日")
    .showProduct--links
      .showProduct--links__left
        = link_to "#" do
          = icon('fas', 'angle-left')
          前の商品
      .showProduct--links__right
        = link_to "#" do
          = icon('fas', 'angle-right')
          後ろの商品
    .showProduct--related
      = link_to "#", class: 'moreRelate' do
        #{@category.parent.parent.name}
        をもっと見る
    .showProduct--relateProducts
      - if @relateProducts[0] != nil
        = render partial: "productBox", locals: { product: @relateProducts[0] }
  .main__download
    .inner
      %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text 今すぐ無料ダウンロード！
      .inner__btn
        = link_to "#", class: "content__btn--apple" do
          = image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
        = link_to "#", class: "content__btn--google" do
          = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"

