.main
  .showProduct
    .showProduct--info
      - if @product.user_id == current_user.id
        .showProduct--info__seller
          = link_to "#", class: 'productEdit' do
            .showProduct--info__seller__edit
              編集
          = link_to "#", class: 'productDelete' do
            .showProduct--info__seller__delete
              削除
      .showProduct--info__name
        = @product.name
      .showProduct--info__photo
        %ul
          %li
            = image_tag @product.pictures[0].content.url, class: "photoLarge"
            %li.showProduct--info__photo__smallPhotos
              - @product.pictures.each do |picture|
                = image_tag picture.content.url, class: "photoSmall"
      .showProduct--info__price
        .showProduct--info__price__number
          ¥#{@product.price}
        .showProduct--info__price__tax
          (税込) 
          - if @product.delivery_fee[:delivery_fee] == "送料込み（出品者負担）"
            送料込み
      .showProduct--info__description
        = @product.description
      .showProduct--info__table
        %table
          %tr
            %th
              出品者
            %td
              = @seller.nickname
          %tr
            %th
              カテゴリー
            %td
              = link_to "#" do
                = @category.parent.parent.name
              %br/
              = link_to "#" do
                = @category.parent.name
              %br/
              = link_to "#" do
                = @category.name
          %tr
            %th
              ブランド
            %td
              = @product.brand.name
          %tr
            %th
              商品のサイズ
            %td
          %tr
            %th
              商品の状態
            %td
              = @product.status[:status]
          %tr
            %th
              配送料の負担
            %td
              = @product.delivery_fee[:delivery_fee]
          %tr
            %th
              配送の方法
            %td
              = @product.shipping_method[:shipping_method]
          %tr
            %th
              発送元の地域
            %td
              = link_to "#" do
                = @product.prefecture
          %tr
            %th
              発送日の目安
            %td
              = DateOfShip.find(@product.date_of_ship_id)[:date_of_ship]
      .showProduct--info__optional
        .showProduct--info__optional__like
          = icon('fas', 'star')
          &nbsp;お気に入り 0
        .showProduct--info__optional__report
          = icon('fas', 'flag')
          &nbsp;不適切な商品の通報
      - if @product.user_id != current_user.id
        = link_to "#", class: 'productBuy' do
          .showProduct--info__buy
            購入
    .showProduct--comment
      = form_for @comment, url: product_comments_path(product_id: params[:id]) do |f|
        = f.text_area :content, class: 'comment-content', required: 'required'
        .showProduct--comment__notice
          相手のことを考え丁寧なコメントを心がけましょう。
          %br/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button
          = f.label :comment_submit, class: 'comment_submit', for: 'comment_submit' do
            = icon('fas', 'comment')
            &nbsp;コメントする
            = f.submit :comment_submit, class: 'hidden', id: 'comment_submit'
    .showProduct--links
      .showProduct--links__left
        = link_to "#" do
          = icon('fas', 'angle-left')
          前の商品
      .showProduct--links__right
        = link_to "#" do
          = icon('fas', 'angle-right')
          後ろの商品
    .showProduct--related
      = link_to "#", class: 'moreRelate' do
        #{@category.parent.parent.name}
        をもっと見る
    .showProduct--relateProducts
      - if @relateProducts[0] != nil
        = render partial: "productBox", locals: { product: @relateProducts[0] }

