.main
  .showProduct
    .showProduct--info
      .showProduct--info__name
        = @product.name
      .showProduct--info__photo
        %ul
          %li
            = image_tag @product.pictures[0].content.url, class: "photoLarge"
            %li.showProduct--info__photo__smallPhotos
              - @product.pictures.each do |picture|
                = image_tag picture.content.url, class: "photoSmall"
      .showProduct--info__price
        .showProduct--info__price__number
          ¥#{@product.price}
        .showProduct--info__price__tax
          (税込) 
          - if @product.delivery_fee[:delivery_fee] == "送料込み（出品者負担）"
            送料込み
      .showProduct--info__description
        = @product.description

      = @seller.nickname
      = @category.parent.parent.name
      = @category.parent.name
      = @category.name
      = @product.brand.name
      = @product.status[:status]
      = @product.delivery_fee[:delivery_fee]
      = @product.shipping_method[:shipping_method]
      = @product.prefecture
      = DateOfShip.find(@product.date_of_ship_id)[:date_of_ship]
    .showProduct--comment
    .showProduct--links
    .showProduct--related