.product
  .top
    = link_to '/', class: 'top__logo' do
      = image_tag asset_path('material/logo/logo.png'), :alt => 'logo', class: 'top__logo--img'
  .body
    .form
      = form_with model: @product do |f|
        .product-image
          .product-image-box
            .box-name
              %h1.headline 出品画像
              %span.required 必須
            %p.supplement 最大１０枚まで画像をアップロードできます
            .box-image
              .box-image-upload
                = f.label :image, class: 'box-image-upload__label' do
                  = f.file_field :content, type: 'file', name: "item[images_attributes][][image_url]", value:"", class: 'box-image-upload__file'
                  = image_tag asset_path('material/icon/icon_camera.png'), :alt => 'logo', class: 'box-image-upload--img'
                  %p.box-image-upload__decolation 
                    ドラッグアンドドロップ 
                    %br
                    またはクリックしてファイルをアップロード
        
        %hr

        .product-box
          .product-box-name
            .sell-name
              %h1.headline 商品名
              %span.required 必須
            .sell-name-box
              .sell-name-input
                = f.text_field :name, type: 'text', placeholder: '40文字以内', value: '', class: 'input'
          .product-box-text
            .sell-text
              %h1.headline 商品の説明
              %span.required 必須
            = f.text_area :description, placeholder: '商品の説明（必須 1,000文字以内）', rows: '7', class: 'input'
        
        %hr

        .product-details
          %p.decolation 商品の詳細
          .product-category
            .product-category-box
              .sell-category
                %h1.headline カテゴリー
                %span.required 必須
              .select-box
                .select-box-input
                  = f.collection_select :ancestry, Category.all, :id, :name, {prompt: '選択してください'}, class: 'select-box-input__collection' 

              #error-category
          .product-brand
            .product-brand-box
              .sell-brand
                %h1.headline ブランド
                %p.decolation （任意）
              .brand-box
                .brand-box-input
                  = f.text_field :name, type: 'text', value: '', placeholder: '例）ナイキ', class: 'input'
                  
          .product-status
            .product-status-box
              .sell-status
                %h1.headline 商品の状態
                %span.required 必須
              .select-box
                .select-box-input
                  = f.collection_select :status_id, Status.all, :id, :status, {prompt: '選択してください'}, class: 'select-box-input__collection'

        %hr

        .product-delivery
          %p.decolation 配送について
          .fee-bearer
            .fee-bearer-box
              .sell-fee-bearer
                %h1.headline 配送料の負担
                %span.required 必須
              .select-box
                .select-box-input
                  = f.collection_select :delivery_fee_burden_id, DeliveryFeeBurden.all, :id, :name, {prompt: '選択してください'}, class: 'select-box-input__collection'
          .shipment-area
            .shipment-area-box
              .sell-shipment-area
                %h1.headline 発送元の地域
                %span.required 必須
              .select-box
                .select-box-input
                  = f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name, {prompt: '選択してください'}, class: 'select-box-input__collection'
          .shipment-day
            .shipment-day-box
              .sell-shipment-day
                %h1.headline 発送までの日数
                %span.required 必須
              .select-box
                .select-box-input
                  = f.collection_select :date_of_ship_id, DateOfShip.all, :id, :date, {prompt: '選択してください'}, class: 'select-box-input__collection' 
          
        %hr

        .product-price
          %p.decolation 価格 （¥300〜9,99,999）
          .product-price-box
            .sell-price
              .sell-price-text
                %h1.headline 販売価格
                %span.required 必須
              .sell-price-box
                ¥
                = f.number_field :price, class: 'input', id: 'price_calc', placeholder: '0'
          .product-sales-commission
            .commission 販売手数料（１０％）
            .actual-fee -
          .product-sales-profit
            .sales-profit 販売利益
            = f.number_field :price, style: 'display: none', id: 'price'
            .actual-profit -
        
        %hr 

        .product-btn
          .submit-btn
            = f.submit '出品する', class: 'submit-btn__decolation'
          .save-btn
            = f.submit '下書きに保存する', class: 'save-btn__decolation'
          .back-btn 
            = link_to '/', class: 'back-btn__decolation' do
              もどる

  .bottom
    .bottom__box
      %ul.bottom__box__ul
        %li.bottom__box__ul__list
          = link_to '#', class: 'bottom__box__ul__list--style' do
            プライバシーリボシー
        %li.bottom__box__ul__list
          = link_to '#', class: 'bottom__box__ul__list--style' do
            フリマ利用規約
        %li.bottom__box__ul__list
          = link_to '#', class: 'bottom__box__ul__list--style' do
            特定商取引に関する表記

    .bottom__logo      
      = link_to '/', class: 'bottom__logo' do
        = image_tag asset_path('material/logo/logo-white.png'), :alt => 'logo', class: 'bottom__logo--img'

    %p.bottom__copyright ©︎ Fulima