.product-footer
  .product-footer__box
    %ul.product-footer__box__ul
      %li.product-footer__box__ul__list
        = link_to '#', class: 'product-footer__box__ul__list--style' do
          プライバシーポリシー
      %li.product-footer__box__ul__list
        = link_to '#', class: 'product-footer__box__ul__list--style' do
          フリマ利用規約
      %li.product-footer__box__ul__list
        = link_to '#', class: 'product-footer__box__ul__list--style' do
          特定商取引に関する表記


  .product-footer__logo
    = link_to root_path class: 'product-footer__logo__link' do
      = image_tag 'logo/logo-white.png', alt: 'ロゴ画像', class: 'product-footer__logo__link--img'

  %p.product-footer__copyright ©︎ Fulima