.purchase
  = render 'new_header'

  .purchase-box
    %h1.headline-purchase
      購入内容の確認
    
    %hr.line-1
    .product-confirmation
      = image_tag @product.pictures[0].content.url, class: 'photo-confirmation'
      .product-details-confirmation
        = @product.name
        = @product.price

    %hr.line-1
    .price-confirmation
      .price-confirmation__box
        %span.aaaaaa
          お支払い金額

        .aaa
          ¥
          = @product.price

    %hr.line-1
    .payment-confirmation
      .credit_card_info__brand--confirmation
        = image_tag @card_src, class: "credit_card_info__brand__img", size: '50x30', alt: @card_brand
      .credit_card_info__numbers--confirmation
        .number--confirmation
          = "**** **** **** " + @customer_card.last4
        .expiration_date--confirmation
          .expiration_date__title--confirmation
            有効期限
          .expiration_date__info--confirmation
            = @exp_month + " / " + @exp_year


    %hr.line-1
    .shipping-address-confirmation
      .shipping-address-confirmation__title
        配送先
      .shipping-address-confirmation__postal
        〒
        = @shipment.postal_code
      .shipping-address-confirmation__box
        = @shipment.prefecture
        = @shipment.city
        = @shipment.house_number
        = @shipment.building_name
        = @shipment.room_number
      .shipping-address-confirmation__name
        = @shipment.family_name
        = @shipment.given_name

    %hr.line-1
    .buy
      = link_to user_cards_pay_path(current_user, product_id: @product.id), method: :post, class: 'buy__btn' do
        購入する
  
  = render 'new_footer'